<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="~/Content/frame/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/frame/static/css/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();
    <script src="~/Content/frame/layui/layui.js"></script>
    <script src="~/Content/frame/static/js/index.js"></script>
</body>
</html>
