<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>404 你要的页面已经找不到了~</title>
    <link href="~/Content/frame/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/frame/static/css/style.css" rel="stylesheet" />
</head>
<body>
    @if (Session["username"] == null)
    {
        <script languge='javascript'>window.parent.location = '/UserLogin/Login';</script>
    }
    <div class="my-page-box">
        <h3>404</h3>
        <p class="msg">Page Not Found</p>
        <p class="text">对不起,没有找到您所需要的页面,可能是URL不确定,或者页面已被移除。</p>
        <div class="my-btn-box">
            <a class="layui-btn layui-btn-small" href="javascript:;">返回首页</a>
            <a class="layui-btn layui-btn-danger layui-btn-small " href="javascript:;">返回上页</a>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(function () {

        });</script>
</body>
</html>
